# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/throttleControlPWM/__vm
/throttleControlPWM/.vs/throttleControlPWM
throttleControlPWM/obj/x64/Debug/board.buildinfo
throttleControlPWM/obj/x64/Debug/throttleControlPWM.eep
throttleControlPWM/obj/x64/Debug/throttleControlPWM.elf
throttleControlPWM/obj/x64/Debug/throttleControlPWM.hex
throttleControlPWM/obj/x64/Debug/throttleControlPWM.ino.eep
throttleControlPWM/obj/x64/Debug/throttleControlPWM.ino.elf
throttleControlPWM/obj/x64/Debug/throttleControlPWM.ino.hex
